@model RoomCleaning.Models.Ticket

@{ ViewBag.Title = "TicketCreate"; }




<style>
    body {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/imgs/adminIndex.jpg);*/
        background-color: #a4c3b2;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .headers {
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .button-color {
        background-color: #1BBC9C;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        width: 150px;
        height: 50px;
    }

    .outline {
        border-radius: 30px;
        height: 50px;
    }

    .contents {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 20px;
        text-align: left;
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;
        margin-left: 15px;
    }


    .button {
        margin-left: 150px;
    }

    .back {
        margin-top: 50px;
        margin-left: 100px;
        margin-bottom: 50px;
        font-size: 1.15rem;
    }

    .containers {
        max-width: 100%;
        margin: 0 50px;
        padding: 0 1rem;
    }

    .centered {
        margin-left: 100px;
    }


</style>


<body>
    <div class="containers">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","FrontPage")" style="font-size: 2.5em">Room Cleaning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </nav>

    <div class="headers centered">
        <h2>Create New Ticket</h2>
    </div>


    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-horizontal centered">
                    <h4>Ticket</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Issue, htmlAttributes: new { @class = "title control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Issue, new { htmlAttributes = new { @class = "outline form-control" } })
                            @Html.ValidationMessageFor(model => model.Issue, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "title control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "outline form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn button-color" style="margin-top:20px"/>
                        </div>
                    </div>
                </div> if (ViewBag.Message != null)
                {
                    <div class=" alert alert-success" style="color:green">
                    <strong>@ViewBag.Message</strong>
                </div>}
                }



    <div class="back">
        @Html.ActionLink("BACK", "UserIndex", "User") |
        @Html.ActionLink("VIEW TICKET", "TicketView")


    </div>
</div>
</body>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

