
@{ ViewBag.Title = "UserIndex"; }


<style>
    body {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/imgs/adminIndex.jpg);*/
        background-color: #a4c3b2;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow-x: hidden;
        /*overflow-y: hidden;*/
    }

    .headers {
        margin-top: 150px;
        margin-bottom: 80px;
        font-size: 2rem;
    }

    .move {
        margin-top: 50px;
        margin-left: 210px;
    }

    .move-pdf {
        margin-top: 50px;
        /*margin-left: 210px;*/
    }

    .containers {
        max-width: 100%;
        margin: 0 50px;
        padding: 0 1rem;
    }

    .button-color {
        background-color: #1BBC9C;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        width: 150px;
        height: 50px;
    }
</style>

<body>
    <div class="containers">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","FrontPage")" style="font-size: 2.5em">Room Cleaning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutform" }))
                        {
        <a class="nav-link" style="font-size: 1.25em" href="javascript:document.getElementById('logoutform').submit()">Logout</a>}
}
                </li>

            </ul>
        </div>
    </nav>

    <div class="headers">
        Welcome @HttpContext.Current.User.Identity.Name
    </div>

 
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">TICKET</div>
                <div class="card-body">
                    <h5 class="card-title">RAISE A TICKET</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="CREATE"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("TicketCreate", "User" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">SERVICE</div>
                <div class="card-body">
                    <h5 class="card-title">BOOK A SERVICE</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="BOOK"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("ServiceBooking", "User" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">STATUS</div>
                <div class="card-body">
                    <h5 class="card-title">VIEW SERVICE STATUS</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="VIEW"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("ServiceDisplayUser", "User" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
</div>
</body>
