@model RoomCleaning.Models.AdminTbl

@{ ViewBag.Title = "Index"; }

<style>
    body {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/imgs/adminIndex.jpg);*/
        background-color: #a4c3b2;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .headers {
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .move {
        margin-top: 50px;
        margin-left: 270px;
    }

    .move-pdf {
        margin-top: 50px;
        /*margin-left: 210px;*/
    }

    .button-color {
        background-color: #1BBC9C;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        width: 150px;
        height: 50px;
    }

    .containers {
        max-width: 100%;
        margin: 0 50px;
        padding: 0 1rem;
    }

    .centered {
        margin-left: 100px;
    }


</style>

<body>
    <div class="containers">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","FrontPage")" style="font-size: 2.5em">Room Cleaning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutform" }))
                        {
        <a class="nav-link" style="font-size: 1.25em" href="javascript:document.getElementById('logoutform').submit()">Logout</a>}
}
                </li>
               
            </ul>
        </div>
    </nav>

    <div class="headers">
        <h1>Welcome @HttpContext.Current.User.Identity.Name</h1>
    </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">CLEANER</div>
                <div class="card-body">
                    <h5 class="card-title">APPROVE CLEANER</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="APPROVE"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("Approve", "Admin" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">USER</div>
                <div class="card-body">
                    <h5 class="card-title">HELP REQUESTS</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="HELP"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("TicketDisplay", "Admin" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">SERVICE</div>
                <div class="card-body">
                    <h5 class="card-title">SERVICE ALLOTMENT</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="ALLOT"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("Filter", "Admin" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col move">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">USER FEEDBACK</div>
                <div class="card-body">
                    <h5 class="card-title">VIEW FEEDBACK</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="VIEW"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("FeedbackDisplay", "Admin" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col move-pdf">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">PDF</div>
                <div class="card-body">
                    <h5 class="card-title">GENERATE PDF</h5>

                    <div class="form-group">
                        <div class="button col-md-offset-2 col-md-10">
                            @*<button class="button-color">@Html.ActionLink("Approve Cleaners", "Approve", "Admin")</button>*@
                            <input type="button"
                                   value="GENERATE"
                                   class="button-color"
                                   onclick="location.href='@Url.Action("GeneratePDF", "Admin" )'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
</body>


